# ----- Flow A deploy settings -----
VALIDATION_WAZUH_MODE=remote_ssh
VALIDATION_WAZUH_HOST=REPLACE_WITH_LAB_VALUE
VALIDATION_WAZUH_USER=root
VALIDATION_WAZUH_PORT=22
VALIDATION_SSH_KEY=REPLACE_ME
VALIDATION_WAZUH_RULES_DIR=/var/ossec/etc/rules
VALIDATION_WAZUH_DECODERS_DIR=/var/ossec/etc/decoders
VALIDATION_WAZUH_STAGING_DIR=/var/ossec/tmp/detection-ci
VALIDATION_WAZUH_RESTART_CMD="systemctl restart wazuh-manager"

GITHUB_TOKEN=REPLACE_ME
SLACK_WEBHOOK_URL=REPLACE_ME

WAZUH_API_URL=REPLACE_WITH_LAB_VALUE
WAZUH_API_USERNAME="wazuh"
WAZUH_API_PASSWORD=REPLACE_ME
WAZUH_API_VERIFY_TLS=false
WAZUH_LOGTEST_LOG_FORMAT=syslog
WAZUH_LOGTEST_LOCATION="master->/var/log/syslog"
WAZUH_API_TIMEOUT=30

WAZUH_CUSTOM_RULE_MIN=100000
WAZUH_CUSTOM_RULE_MAX=120000
WAZUH_RULE_ID_ENFORCE=true

# ----- Flow B deploy settings -----
FLOWB_TMP_DIR=/tmp/flowb
FLOWB_REPO_DIR=/tmp/flowb/repo
FLOWB_MANIFEST_PATH=/tmp/flowb/deploy_manifest.json
FLOWB_BACKUP_FILE=/tmp/flowb/last_backup_path.txt

DEPLOY_WAZUH_MODE=remote_ssh
DEPLOY_WAZUH_HOST=REPLACE_WITH_LAB_VALUE
DEPLOY_WAZUH_USER=root
DEPLOY_WAZUH_PORT=22
DEPLOY_SSH_KEY=REPLACE_ME

DEPLOY_WAZUH_RULES_DIR=/var/ossec/etc/rules
DEPLOY_WAZUH_DECODERS_DIR=/var/ossec/etc/decoders
DEPLOY_WAZUH_STAGE_DIR=/var/ossec/tmp/deploy-flowb/stage
DEPLOY_WAZUH_BACKUP_DIR="/root/wazuh-flowb-backups"

DEPLOY_WAZUH_RESTART_CMD="systemctl restart wazuh-manager"

DEPLOY_API_URL=REPLACE_WITH_LAB_VALUE
DEPLOY_API_USERNAME="wazuh"
DEPLOY_API_PASSWORD=REPLACE_ME
DEPLOY_API_VERIFY_TLS=false
